<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>CodeFilter</filter-name>
        <filter-class>filter.CharsetFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>isLoginFilter</filter-name>
        <filter-class>filter.isLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>isLoginFilter</filter-name>
        <url-pattern>/main.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>isLoginFilter</filter-name>
        <url-pattern>/new_vote.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>isLoginFilter</filter-name>
        <url-pattern>/vote_result.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllVoteItemServlet</servlet-name>
        <servlet-class>servlet.GetAllVoteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoteServlet</servlet-name>
        <servlet-class>servlet.AddVoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemServlet</servlet-name>
        <servlet-class>servlet.GetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVoteItemServlet</servlet-name>
        <servlet-class>servlet.UpdateVoteItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllVoteItemServlet</servlet-name>
        <url-pattern>/getall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoteServlet</servlet-name>
        <url-pattern>/addvote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemServlet</servlet-name>
        <url-pattern>/getdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVoteItemServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
